*{
margin: 0;
padding: 0;
font-family:sans-serif;
}

@media only screen and (min-width:992px){
#main-header .icon-bar{
background-color:#342014;
padding-bottom:5px;
}


#main-header .icon-bar svg{
color:#e7ded4;
text-align:;
margin-left:18px;
margin-top:15px;
}
#main-header .icon-bar a{
text-decoration:none;
}
#main-header p{
color:#e7ded4;
margin-top:10px;
text-align: right;
margin-right:10px;

}
.container-fulid{
overflow:hidden;
}
#m-h-2 .coffe-logo{
text-align:;
}
#m-h-2 .coffe-logo img{
width:130px;
height:130px;
margin-top:-1rem;
margin-left:-2rem;
}
#m-h-2 .coffe-logo span{
font-size:18px;
font-weight:bold;
position: relative;
top:-0.55rem;
left:-2rem;
}
#m-h-2 .navbar{
margin-top:1.5rem;
padding-left:-5px;

}
#m-h-2 .sidebar .closebtn {
   display: none;
}
.sidebar  a {
transition: 0.3s;

}
.openbtn {
 display: none;
}
#m-h-2 .navbar a{
font-size:14px;
font-weight:500;
}
.navbar a:hover{
background-color:#6a3212;
animation-duration:4s;
color:#fff;
}
#m-h-2 .bn{
background-color:#fff;
border: none;
padding-bottom:20px;
}
#m-h-2 svg{
width:20px;
height:20px;
color:black;
margin-right:10px;
margin-left: 10px;
background-color:none;
}
#m-h-2 .search a:hover{
background-color:#fff;
}
#m-h-2 .search{
position: absolute;
right:0;
}
.openBtn {
 background: #fff;
 border: none;
 padding:10px 10px;
 font-size: 20px;
 cursor: pointer;
 position: relative;
 top:0.3rem;
 left:1.1rem;
 margin-top:-0.50rem;

}
.openBtn:hover {
 background: #bbb;
}
.overlay {
height: 100%;
width: 100%;
display: none;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
}
.overlay-content {
position: relative;
top: 46%;
width: 80%;
text-align: center;
margin-top: 30px;
margin: auto;
}

 .overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size:60px;
cursor: pointer;
color: white;
}
.overlay .closebtn:hover {
color: #ccc;
}

.overlay input[type=text] {
padding: 15px;
font-size: 17px;
border: none;
float: left;
width: 80%;
background: white;
}

.overlay input[type=text]:hover {
background:#f1f1f1;
}
.overlay button {
float: left;
width: 20%;
padding: 15px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}
.overlay button:hover {
background:#bbb;
}
#m-h-2 .service p{
text-align:center;
color:#beb2a7;
font-size:20px;
font-weight: 900;
font-family:"Roboto";
margin-top:1rem;
}
#header2 h4 {
margin-left:4.99%;
color:#f0e7dd;
font-weight:900;
font-size:25px;
margin-top:1%;
}
#header2 .shop img{
width:200px;
height:200px;
border-radius:15px;
margin-top:5%;
}
#header2 .shop .col-lg-3{
text-align:center;
}
#header2 .shop h5{
font-size:22px;
margin-top:10%;
margin-bottom:10%;
text-align:center;
}
#header2 .shop a{
color: #fff;
text-decoration: none;
}
#header3 .Newest h5{
font-size:25px;
font-weight:700;
margin-left:5%;
margin-top:1%;
}
#header3 .Newest p{
font-size:18px;
font-family: Freight Sans;
margin-left:5%;
}
#header3 .images .col-lg-2{
margin-left:20px;
margin-right:px;
background-color:#fff;
border:none;
border-radius:10px;

}
#header3 .images img{
width:100%;
height:165px;
margin-top:10%;
}
#header3 .align{
display:flex;
justify-content:center;
} 

#header3 .images p{
font-size:15px;
margin-top:2%;
}
#header3 .images .svg-circle {
margin-left:35%;
}
#header3 .images .svg-addition{
margin-top:3%;
}
#header3 .success h4{

 margin-left:5%;
 margin-top:3%;
}
#header3 .rewards .col-lg-2{
width:20%!important;
border:none;
margin-left:4%;
background-color:#e9dfd5;
margin-top:2%;
border-radius:10px;
text-align: center;

}
#header3 .rewards img{
width:100px;
height:100px;
border-radius:50%;
margin-top:10%;
}
#header3 .rewards h5{
text-align:center;
margin-top:10%;
}
#header3 .rewards p{
text-align: center;
font-family:"Times New Roman";
font-size:15px;
line-height:30px;
color:#938579;
}
#header4 .rewards .col-lg-2{
width:20%!important;
border:none;
margin-left:4%;
background-color:#e9dfd5;
margin-top:2%;
border-radius:10px;
}
#header4 .success h3{
margin-top:3%;
margin-left:5%;
color:#fff;
}
#header4 .rewards img{
width:100%;
height:150px;
}
#header4 .rewards h4{
text-align:center;
margin-top:10%;
}
#header4 .rewards p{
text-align: center;
font-family:"Times New Roman";
font-size:15px;
line-height:30px;
color:#938579;
}
$black: #000;
$white: #fff;
$gray: #ccc;
$smoke: #e2e2e2;
$disable: #f2f2f2;

.qty-input {
   color: $black;
   background: $white;
   display: flex;
   align-items: center;
   overflow: hidden;

   .product-qty,
   .qty-count {
      background: transparent;
      color: inherit;
      font-weight: bold;
      font-size: inherit;
      border: none;
      display: inline-block;
      min-width: 0;
      height: 2.5rem;
      line-height: 1;
      

      &:focus {
         outline: none;
      }
   }

   .product-qty {
      width: 50px;
      min-width: 0;
      display: inline-block;
      text-align: center;
      appearance: textfield;     
      
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
         appearance: none;
         margin: 0;
      }
   }

   .qty-count {
      padding: 0;
      cursor: pointer;
      width: 2.5rem;
      font-size: 1.25em;
      text-indent: -100px;
      overflow: hidden;
      position: relative;
      
      &:before, 
      &:after {
         content: "";
         height: 2px;
         width: 10px;
         position: absolute;
         display: block;
         background: $black;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         margin: auto;
      }
      &--minus {
         border-right: 1px solid $smoke;
      }
      &--add {
         border-left: 1px solid $smoke;
         &:after {
            transform: rotate(90deg);
         }
      }
      
      &:disabled {
         color: $gray;
         background: $disable;
         cursor: not-allowed;
         border-color: transparent;
         
         &:before,
         &:after {
            background: $gray;
         }
      }
   }
}

// IGNORE
body {
   background: #3b70fc;
   display: flex;
   flex-direction: column;
   font-size: 1rem;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.qty-input {
   border-radius: 4px;
   box-shadow: 0 1em 2em -0.9em rgba(#000, 0.7);
   transform: scale(1.5);
}

}





/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width:768px) and (max-width:991px){
#main-header .icon-bar{
background-color:#342014;
padding-bottom:5px;
}
.sidebar{
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left:-45px;
background-color:#6a3216;
overflow-x: hidden;
transition: 0.5s;
padding-top:60px;
}
.sidebar  a {
margin-left:100px;
text-decoration: none;
font-size:15px;
color:#fff;
background-color:#6a3216;
margin-top:15px;
transition: 0.3s;
}
a:hover {
color: #f1f1f1;
}

.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
color: #fff;
}
.openbtn {
cursor: pointer;
border: none;
background-color:#fff;
margin-top:1.70rem;
float: right;
position: relative;
left:-1rem;
}
a:hover {
background-color: #fad390;
color:black;
}
#main-header .icon-bar svg{
color:#e7ded4;
margin-left:18px;
margin-top:15px;
}
#main-header .icon-bar a{
text-decoration:none;
}
#main-header p{
color:#e7ded4;
margin-top:10px;
text-align: right;
margin-right:10px;

}
.container-fulid{
overflow:hidden;
}

#m-h-2 .coffe-logo img{
width:130px;
height:130px;
margin-top:-1rem;
margin-left:-2rem;
}
#m-h-2 .coffe-logo span{
font-size:18px;
font-weight:bold;
position: relative;
top:-0.55rem;
left:-2rem;
}

#m-h-2 .search .bn{
background-color:#6a3212;
border: none;


}
#m-h-2 .search svg{
color:black;
margin-left:20px;
margin-top:10px;
}
#m-h-2 .search a{
margin-left: 0;
position: relative;
left:4rem;
  
}
.openBtn {
 background:#6a3216;
 border: none;
 padding: 10px 10px;
 font-size: 20px;
 cursor: pointer;
 position: relative;
 top:1px;
left:5rem;


}
.openBtn:hover {
 background: #bbb;
}
.overlay {
height: 100%;
width: 100%;
display: none;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
}
.overlay-content {
position: relative;
top: 46%;
width: 80%;
text-align: center;
margin-top: 30px;
margin: auto;
}

.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size:60px;
cursor: pointer;
color: white;
}
.overlay .closebtn:hover {
color: #ccc;
}

.overlay input[type=text] {
padding: 15px;
font-size: 17px;
border: none;
float: left;
width: 80%;
background: white;
}

.overlay input[type=text]:hover {
background:#f1f1f1;
}

.overlay button {
float: left;
width: 20%;
padding: 15px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}
.overlay button:hover {
background: #bbb;
}



#m-h-2 .service p{
text-align:center;
color:#beb2a7;
font-size:20px;
font-weight: 900;
font-family:"Roboto";
margin-top:1rem;
}
#header2 h4 {
position:relative;
left:%;
color:#f0e7dd;
font-weight:900;
font-size:25px;
margin-top:1%;
text-align:;
}

#header2 .shop img{
margin-top:%;
width:100%;
height:75%;
border-radius:15px;
margin-left:px;
}
#header2 .shop h5{
font-size:22px;
margin-top:5%;
margin-bottom:10%;
text-align:center;
}
#header2 .shop a{
color: #fff;
text-decoration: none;
}
#header3 .Newest h5{
font-size:25px;
font-weight:700;
margin-left:5%;
margin-top:1%;
}
#header3 .Newest p{
font-size:18px;
font-family: Freight Sans;
margin-left:5%;
}
#header3 .images .col-lg-2{
margin-left:20px;
margin-right:px;
background-color:#fff;
border:none;
border-radius:10px;
margin-top:2%;
padding-bottom:2%;
}
#header3 .images img{
width:100%;
height:165px;
margin-top:10%;

}
#header3 .align{
display:flex;
justify-content:;
margin-left:4%;
} 

#header3 .images p{
font-size:15px;
margin-top:15px;
}
#header3 .images .svg-circle {
margin-left:35%;
}
#header3 .images .svg-addition{
margin-top:3%;
}
#header3 .success h4{

 margin-left:5%;
 margin-top:3%;
}
#header3 .rewards .col-md-5{

border:1px;
margin-left:3%;
background-color:#e9dfd5;
margin-top:2%;
border-radius:10px;
text-align:center;

}
#header3 .rewards img{
width:100px;
height:100px;
border-radius:50%;
margin-top:10%;
}
#header3 .rewards h5{
text-align:center;
margin-top:10%;
}
#header3 .rewards p{
text-align: center;
font-family:"Times New Roman";
font-size:15px;
line-height:30px;
color:#938579;
}
#header4 .rewards .col-md-5{
border:none;
margin-left:3%;
background-color:#e9dfd5;
margin-top:2%;
border-radius:10px;
}
#header4 .success h3{
margin-top:3%;
margin-left:5%;
color:#fff;
}
#header4 .rewards img{
width:100%;
height:150px;
}
#header4 .rewards h4{
text-align:center;
margin-top:10%;
}
#header4 .rewards p{
text-align: center;
font-family:"Times New Roman";
font-size:15px;
line-height:30px;
color:#938579;
}

}




@media only screen and (max-width:600px) {
.sidebar{
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left:-70px;
background-color:#6a3216;
overflow-x: hidden;
transition: 0.5s;
padding-top:60px;
}
.sidebar a {
margin-left:100px;
text-decoration: none;
font-size:15px;
color:#fff;
background-color:#6a3216;
margin-top:15px;
transition: 0.3s;
}
a:hover {
color: #f1f1f1;
}
.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
color: #fff;
}
.openbtn {
cursor: pointer;
border: none;
background-color:#fff;
margin-top:1.70rem;
float: right;
position: relative;
left:-1rem;
}
a:hover {
background-color:#fad390;
color:black;
}
#m-h-2 .search .bn{
background-color:#6a3212;
border:none;
}
#m-h-2 .search svg{
color:black;
margin-left:20px;
margin-top:10px;
}
#m-h-2 .search a{
margin-left:0;
position: relative;
left:4rem;
}
#main-header .icon-bar{
background-color:#342014;
padding-bottom:5px;
}
#main-header .icon-bar svg{
color:#e7ded4;
margin-left:1px;
margin-top:15px;
width:10px;
height:10px;
}
#main-header .icon-bar a{
text-decoration:none;
}
#main-header p{
color:#e7ded4;
margin-top:15px;
text-align:right;
margin-right:50px;
font-size:9px;
}
.container-fulid{
overflow:hidden;
}
#m-h-2 .coffe-logo{
text-align:center;
}
#m-h-2 .coffe-logo img{
width:130px;
height:130px;
margin-top:-1rem;
margin-left:rem;
}
#m-h-2 .coffe-logo span{
font-size:15px;
font-weight:bold;
position: relative;
top:-0.55rem;
left:-2rem;
}
.openBtn {
background:#6a3216;
border: none;
padding: 10px 10px;
font-size: 20px;
cursor: pointer;
position: relative;

left:5rem;
}
.openBtn:hover {
background:#bbb;
}
.overlay {
height: 100%;
width: 100%;
display: none;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
}
.overlay-content {
position: relative;
top: 46%;
width: 80%;
text-align: center;
margin-top: 30px;
margin: auto;
}
.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size:60px;
cursor: pointer;
color: white;
}
.overlay .closebtn:hover {
color: #ccc;
}
.overlay input[type=text] {
padding: 15px;
font-size: 17px;
border: none;
float: left;
width: 80%;
background: white;
}
.overlay input[type=text]:hover {
background:#f1f1f1;
}
.overlay button {
float: left;
width: 20%;
padding: 15px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}
.overlay button:hover {
background: #bbb;
}
#m-h-2 .service p{
text-align:center;
color:#beb2a7;
font-size:10px;
font-weight: 900;
font-family:"Roboto";
margin-top:1rem;
}
#header2 h4 {
position:relative;
left:2%;
color:#f0e7dd;
font-weight:900;
font-size:25px;
margin-top:1%;
}
#header2 .shop img{
margin-top:5%;
width:100%;
height:75%;
border-radius:15px;
}
#header2 .shop h5{
font-size:22px;
margin-top:6%;
margin-bottom:10%;
text-align:center;
}
#header2 .shop a{
color:#fff;
text-decoration: none;
}
#header3 .Newest h5{
font-size:17px;
font-weight:700;

margin-top:2%;
}
#header3 .Newest p{
font-size:18px;
font-family: Freight Sans;

}
#header3 .images .col-12{
background-color:#fff;
border:none;
border-radius:10px;
margin-top:5%;
padding-bottom:3%;
}
#header3 .images img{
width:100%;
height:200px;
margin-top:10%;
}


#header3 .images p{
font-size:15px;
margin-top:15px;
}
#header3 .images .svg-circle {
margin-left:35%;
}
#header3 .images .svg-addition{
margin-top:3%;
}
#header3 .success h4{
margin-left:5%;
margin-top:3%;
}
#header3 .rewards .col-12{
border:1px;
text-align: center;
background-color:#e9dfd5;
margin-top:5%;
border-radius:10px;
}
#header3 .rewards img{
width:100px;
height:100px;
border-radius:50%;
margin-top:10%;
}
#header3 .rewards h5{
text-align:center;
margin-top:5%;
}
#header3 .rewards p{
text-align: center;
font-family:"Times New Roman";
font-size:15px;
line-height:25px;
color:#938579;
}
#header4 .rewards .col-md-5{
border:none;
margin-left:%;
background-color:#e9dfd5;
margin-top:5%;
border-radius:10px;
}
#header4 .success h3{
margin-top:3%;
color:#fff;
}
#header4 .rewards img{
width:100%;
height:150px;
}
#header4 .rewards h4{
text-align:center;
margin-top:10%;
}
#header4 .rewards p{
text-align: center;
font-family:"Times New Roman";
font-size:15px;
line-height:30px;
color:#938579;
}
}











 



